* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: $palette-color-2;

    &:hover {
        text-decoration: none;
    }
}

body {
    background-color: $palette-color-5;
    font-family: $font-family;
}

.app {
    width: 100vw;
    max-height: 100vh;

    @media (min-width: 1200px) {
        height: 100vh;
    }
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: 576px) {
        width: 540px;
    }

    @media (min-width: 768px) {
        width: 720px;
    }

    @media (min-width: 992px) {
        width: 960px;
    }

    @media (min-width: 1200px) {
        width: 1140px;
    }
}

.navigation {
    padding-top: 50px;
    padding-bottom: 50px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        @media (min-width: 768px) {
            flex-direction: row;
        }
    }

    &__logo {
        margin-bottom: 1.5rem;
        height: 40px;

        @media (min-width: 768px) {
            margin-bottom: 0;
        }

        img {
            height: 100%;
        }
    }

    &__social {
        font-size: 1.5rem;
        color: $palette-color-2;

        a {
            margin-right: 1.5rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.construction {
    height: 100vh;
    display: flex;
    align-items: center;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        @media (min-width: 1200px) {
            flex-direction: row;
        }
    }

    &__text {
        margin-bottom: 3rem;

        @media (min-width: 1200px) {
            margin-bottom: 0;
        }
    }

    &__title {
        margin-bottom: 1rem;
        text-align: center;
        font-size: 6rem;
        color: $palette-color-1;

        @media (min-width: 1200px) {
            font-size: 8rem;
            text-align: left;
        }
    }

    &__subtitle {
        text-align: center;
        font-size: 2rem;
        color: $palette-color-1;
    }

    &__image {
        width: 100%;

        @media (min-width: 1200px) {
            flex-direction: row;
            flex: 0 0 60%;
        }
    }
}
